/* Custom styles for the loading spinner */
.spinner {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 3px solid #ffffff;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
}

body {
    background: linear-gradient(to bottom, #FF4500, #00008B); /* Sunset orange to dark blue */
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}